{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "ConnectionString": "server=YOUR_DB_HOST;database=YOUR_DB_NAME;user=YOUR_DB_USER;password=YOUR_DB_PASSWORD;"
  },
  "AllowedOrigins": {
    "Frontend": "http://localhost:4200"
  }
}
